<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
      <h6 class="mb-0">Ajouter un secteur </h6>
    </div>
    <div class="card-body">
      <form [formGroup]="secteur">
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="name" class="form-label">Nom secteur </label>
            <input type="text" id="name" class="form-control" name="name" required formControlName="name"
              placeholder="Saisir le nom d’un secteur.">
          </div>
          <div class="col-md-6">
            <label for="recruteur" class="form-label">
              Affectation Recruteur
            </label>

            <select class="form-control"   formControlName="recruteurId"  id="recruteur">

              <option value="" disabled selected>
                Sélectionner un recruteur
              </option>

              <option *ngFor="let rec of recruteur" [value]="rec.id" >

                {{ rec.firstname }} {{ rec.lastname }}

              </option>

            </select>
          </div>

        </div>
        <br>
        <div class="text-center">
          <button type="submit" class="btn btn-danger px-4" (click)="Anuller()">Annuler</button> &nbsp;&nbsp;
          <button type="submit" class="btn btn-primary px-4" (click)="save()">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>
</div>
<br><br>