.custom-container {
    border: 2px solid #1a6fd6; /* Bordure de 2px solide grise */
    padding: 20px; /* Espace intérieur de 20px */
    border-radius: 10px; /* Coins arrondis de 10px */
  }

  .carte-espace {
    margin-bottom: 20px; /* Espace de 20px en bas de chaque carte */
  }